#r{color:#8b008b;}
#a1{color:#9932cc;}
#n1{color:#7b68ee;}
#g{color:#1e90ff;}
#i{color:#00bfff;}
#n2{color:#1c9e4e;}
#k{color:#58d347;}
#a2{color:#ffd700;}
#m{color:#ff8c00;}
#a3{color:#ff6347;}
#n3{color:#ff0000;}
.klm{
text-align:center;
font-family: Arial;
font-size: 100px;
}
